<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955080993594-au6psg9b74p464egnr59suhrkkgpo7q9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955080993594-au6psg9b74p464egnr59suhrkkgpo7q9</string>
	<key>API_KEY</key>
	<string>AIzaSyChlK68ZLbC0jojjkT9JrAcrk7ACasHTVM</string>
	<key>GCM_SENDER_ID</key>
	<string>955080993594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vincentgonnet.projectuniverse.projectUniverse</string>
	<key>PROJECT_ID</key>
	<string>project-universe-7f31a</string>
	<key>STORAGE_BUCKET</key>
	<string>project-universe-7f31a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955080993594:ios:4548557662d6a05c8a7e03</string>
</dict>
</plist>